{% extends 'healthcareapp/base.html' %}
{% block content %}
<h2>{{ blog.title }}</h2>
<p><strong>Category:</strong> {{ blog.category.name }}</p>
<p><strong>Author:</strong> {{ blog.author.get_full_name|default:blog.author.username }}</p>

{% if blog.image %}
    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width:500px;">
{% endif %}

<hr>
<p>{{ blog.content|linebreaks }}</p>
{% if blog.is_draft %}
    <p style="color:#d32f2f;"><strong>Note:</strong> This is a draft. Only you can view it.</p>
{% endif %}

<a href="{% url 'my_blogs' %}">← Back to Blogs</a>
{% endblock %}
